{% extends 'groupride/template.html' %}

{% block title %}Group Ride{% endblock %}

{% block body %}
  <div class="container">
    <h2>Dashboard</h2>

    {% if user.is_authenticated %}
    <h3>{{user.first_name}} {{user.last_name}} ({{user.username}})</h3>

      <div class="panel-group">
      <h4>Confirmed Rides</h4>


          {% for ride in upcoming_rides %}

            {% if user in ride.confirmed_riders.all %}

            <a href="/ride/{{ride.id}}">
              <div class="ride_header border rounded" style="min-width: 20rem; max-width: 50rem">
                <div>
                  <h5>Ride: {{ride.ride_name}}
                    {% if ride.private is True %}
                      <span class="badge badge-pill badge-warning">Private</span>
                      {% if user not in ride.confirmed_riders.all %}
                        <span class="badge badge-pill badge-danger">Unconfirmed</span>
                      {% endif %}
                    {% endif %}

                    {% if user in ride.confirmed_riders.all %}
                      <span class="badge badge-pill badge-success">Confirmed</span>
                    {% endif %}


                  </h5>
                  <div>Organizer: {{ride.created_by.first_name|slice:":1" }}.{{ride.created_by.last_name}} </div>
                </div>
                <div>
                  <span class="">Departs: {{ ride.ride_date|date:"SHORT_DATE_FORMAT" }} {{ ride.ride_date|time:"TIME_FORMAT" }} </span>
                </div>
                <a href="/route/{{ride.route.id}}">
                  <div>Route: {{ride.route.route_name}}</div>
                  <div>
                    <span class="">Distance: {{ride.route.miles}} miles </span>
                    <span class="">({{ride.route.vertical_feet}} feet)</span>
                </a>
                    {% if ride.route.gpxfile %}
                      <a href={{ride.route.gpxfile}} download>
                        <span class="badge badge-pill badge-secondary">Download GPX File</span>
                      </a>
                    {% endif %}
                  </div>
              </div>
            </a>
            {% endif %} <!-- if user is confirmed for rides -->
          {% endfor %} <!-- for each ride in upcoming_rides -->



        </div> <!-- end panel group -->

        <h4>Unconfirmed Invitations</h4>

        {% for ride in unconfirmed_rides %}
          {% if user not in ride.confirmed_riders.all %}
          <a href="/ride/{{ride.id}}">
            <div class="ride_header border rounded" style="min-width: 20rem; max-width: 50rem">
              <div>
                <h5>{{ride.ride_name}}
                  {% if ride.private is True %}
                    <span class="badge badge-pill badge-warning">Private</span>
                    {% if user not in ride.confirmed_riders.all %}
                      <span class="badge badge-pill badge-danger">Unconfirmed</span>
                    {% endif %}
                  {% endif %}

                  {% if user in ride.confirmed_riders.all %}
                    <span class="badge badge-pill badge-success">Confirmed</span>
                  {% endif %}


                </h5>
                <div>Organizer: {{ride.created_by.first_name|slice:":1" }}.{{ride.created_by.last_name}} </div>
              </div>
              <div>
                <span class="">Departs: {{ ride.ride_date|date:"SHORT_DATE_FORMAT" }} {{ ride.ride_date|time:"TIME_FORMAT" }} </span>
              </div>
              <a href="/route/{{ride.route.id}}">
                <div>Route: {{ride.route.route_name}}</div>
                <div>
                  <span class="">Distance: {{ride.route.miles}} miles </span>
                  <span class="">({{ride.route.vertical_feet}} feet)</span>
              </a>
                  {% if ride.route.gpxfile %}
                    <a href={{ride.route.gpxfile}} download>
                      <span class="badge badge-pill badge-secondary">Download GPX File</span>
                    </a>
                  {% endif %}
                </div>
            </div>
          </a>
          {% endif %}
        {% endfor %}


    {% else %}

      <div>Create an account or login to see your personal dashboard.</div>

    {% endif %}

  </div>


{% endblock %}
