{% extends 'groupride/template.html' %}

{% block title %}Rides{% endblock %}

{% block body %}
  <div class="container">
    <h2>Rides</h2>

    {% for i in created_by %}
      <p>i</p>
    {% endfor %}

    <div class="panel-group">
    <h3>Upcoming Rides</h3>
    {% for ride in upcoming_rides %}
      {% if ride.private is True and user in ride.invited_riders.all or ride.private is not True %}
          <div class="ride_header border rounded" style="min-width: 20rem; max-width: 50rem">
            <div>
              <h5>Ride: <a href="/ride/{{ride.id}}">{{ride.ride_name}}</a>
                {% if ride.private is True %}
                  <span class="badge badge-pill badge-warning">Private</span>
                  {% if user not in ride.confirmed_riders.all %}
                    <span class="badge badge-pill badge-danger">Unconfirmed</span>
                  {% endif %}
                {% endif %}

                {% if user in ride.confirmed_riders.all %}
                  <span class="badge badge-pill badge-success">Confirmed</span>
                {% endif %}
              </h5>
              <div>Organizer: {{ride.created_by.first_name|slice:":1" }}.{{ride.created_by.last_name}} </div>
            </div>
            <div>
              <span class="">Departs: {{ ride.ride_date|date:"SHORT_DATE_FORMAT" }} {{ ride.ride_date|time:"TIME_FORMAT" }} </span>
            </div>

              <div>Route: <a href="/route/{{ride.route.id}}">{{ride.route.route_name}}</a></div>
              <div>
                <span class="">Distance: {{ride.route.miles}} miles </span>
                <span class="">({{ride.route.vertical_feet}} feet)</span>

                {% if ride.route.gpxfile %}
                  <a href={{ride.route.gpxfile}} download>
                    <span class="badge badge-pill badge-secondary">Download GPX File</span>
                  </a>
                {% endif %}
              </div>
          </div>

      {% endif %}

    {% endfor %}
    </div> <!-- end panel group -->

    <div class="panel-group">
    <h3>Past Rides</h3>
    {% for ride in past_rides %}

    <a href="/ride/{{ride.id}}">
      <div class="ride_header border rounded" style="min-width: 20rem; max-width: 50rem">
        <div>
          <h5>{{ride.ride_name}}</h5>
          <div>Organizer: {{ride.created_by.first_name|slice:":1" }}.{{ride.created_by.last_name}} </div>
        </div>
        <div>
          <span class="">Departed: {{ ride.ride_date|date:"SHORT_DATE_FORMAT" }} {{ ride.ride_date|time:"TIME_FORMAT" }} </span>
        </div>
        <a href="/route/{{ride.route.id}}">
          <div>Route: {{ride.route.route_name}}</div>
          <div>
            <span class="">Distance: {{ride.route.miles}} miles </span>
            <span class="">({{ride.route.vertical_feet}} feet)</span>
        </a>
            {% if ride.route.gpxfile %}
              <a href={{ride.route.gpxfile}} download>
                <span class="badge badge-pill badge-secondary">Download GPX File</span>
              </a>
            {% endif %}
          </div>
      </div>
    </a>

    {% endfor %}
    </div> <!-- end panel group -->

  </div>
{% endblock %}
